In [2]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import json

In [3]:
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
movies=soup.find_all("td", class_="titleColumn")

In [4]:
name=[]
year=[]
for i in range(0,250):
    movie_full=movies[i].text[13:].replace("\n"," ").strip()
    movie_year=movie_full[-5:-1]
    movie_name=movie_full[:-6].strip()
    name.append(movie_name)
    year.append(movie_year)

In [5]:
movie_list=pd.DataFrame(name)
movie_list["year"]=pd.DataFrame(year)
movie_list.columns=["name","year"]

In [6]:
movie_list

                         name  year
0    The Shawshank Redemption  1994
1               The Godfather  1972
2             The Dark Knight  2008
3       The Godfather Part II  1974
4                12 Angry Men  1957
..                        ...   ...
245               Dersu Uzala  1975
246                   Aladdin  1992
247                  The Help  2011
248            The Iron Giant  1999
249                    Gandhi  1982

[250 rows x 2 columns]